:root {
  --main-color: #02bb4e;
  --secondary-color: #1e1e31;
  --color3: #e9d0a5;
  --color4: #3be447;
  --color5: #4e1320;
}

#background-image-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-image: url(media/background-main.webp);
  height: 80vh;
  width: auto;
  background-size: cover;
  background-position: center;
}

#background-image-main #programs {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5/7;
  grid-row: 2/3;
  text-align: center;
  background-color: #1e1e31;
  border-radius: 20px;
  color: var(--color3);
}

#background-image-main ul {
  grid-column: 3 / 9;
  grid-row: 4 / 5;
  display: flex;
  justify-content: space-around;
}
#background-image-main ul li {
  list-style: none;
  flex-grow: 1;
}

#background-image-main ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 4.5;
  background-color: var(--color4);
  border: 2px solid var(--main-color);
  border-radius: 100px;
  transition: all 200ms;
}

#background-image-main ul li a:hover {
  background-color: var(--main-color);
}

div + h1 {
  text-align: center;
  line-height: 2;
  color: var(--color5);
  background-color: var(--main-color);
}

#intro {
  display: grid;
  padding: 2vh 1vw;
  grid-template-columns: 5fr 5fr;
  grid-gap: 4vw;
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  #intro {
    grid-template-columns: 1fr;
  }
}
