* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #02bb4e;
  --secondary-color: #1e1e31;
  --color3: #e9d0a5;
  --color4: #3be447;
  --color5: #4e1320;
}

/* Navbar */
header {
  position: sticky;
  top: 0;
  font-family: "Bebas Neue", cursive;
}

#main-logo {
  width: 9%;
  height: 9%;
  flex-grow: 1;
}

nav {
  background-color: var(--secondary-color);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

nav ul li a {
  display: block;
  line-height: 4.5;
  text-decoration: none;
  color: var(--color3);
}

nav ul li a:hover {
  background-color: var(--color5);
  color: var(--color3);
}

.blank {
  flex-grow: 6;
}

.item {
  flex-grow: 3;
}

/*Infobar*/
/* 
.bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bar {
  height: 20vh;
  color: var(--color3);
  background-color: var(--secondary-color);
}
.bar section {
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 5;
}

.bar section h1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.bar section p {
  grid-column: 1/5;
  grid-row: 1/5;
} */
