* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #02bb4e;
  --secondary-color: #1e1e31;
  --color3: #e9d0a5;
  --color4: #3be447;
  --color5: #4e1320;
}

/* Navbar */
header {
  position: sticky;
  top: 0;
}

#main-logo {
  width: 9%;
  height: 9%;
  flex-grow: 1;
}

nav {
  background-color: var(--secondary-color);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

nav ul li a {
  display: block;
  line-height: 4.5;
  text-decoration: none;
  color: var(--color3);
}

nav ul li a:hover {
  background-color: var(--color5);
  color: var(--color3);
}

.blank {
  flex-grow: 6;
}

.item {
  flex-grow: 3;
}

/*Background image*/

#background-image-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  background-image: url(media/bakground-image-main.jpg);
  height: auto;
  background-size: cover;
  background-position: center;
}

#background-image-main h1 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  color: var(--secondary-color);
}

#background-image-main ul {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-around;
}
#background-image-main ul li {
  list-style: none;
  flex-grow: 1;
}

#background-image-main ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 4.5;
  background-color: var(--color4);
  border-style: solid;
  border-width: 2px;
  border-color: var(--main-color);
  border-radius: 100px;
}

#background-image-main ul li a:hover {
  background-color: var(--main-color);
}
